.wheels-joystick{
    height:450px; 
    width:450px;
    background-color: lightslategray;
    margin: 0px;
    padding: 0px !important;
}

.wheels-joystick-wrapper{
    margin: 0px;
    padding: 100px;
}